body {
  font-family:  'Roboto', sans-serif;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
  }
  input {
    font-family: Verdana, Helvetica, sans-serif;
    margin: 2px;
  }
  select {
    font-family: Verdana, Helvetica, sans-serif;
    margin: 2px;
    width: 50%;
  }
  button {
    margin-top: 8px;
  }